{% extends "businessdashboard/base.html" %}
{% block content %}
{% load static %}

<!-- Header and Search Bar -->
<div class="d-flex">
    <div class="mr-auto"> 
       <img class="page-icon" src="{% static 'media/shop.svg' %}" alt="businesspage-icon"> 
       <span class="page-title"> BUSINESS PAGE </span> 
    </div>
</div> 

<hr style="margin: 0">
<br>

<!-- Eatery Info -->
<div class="d-flex flex-column">
    <div class="d-flex eatery-info-container p-1">
        <img class="eatery-logo align-self-center" src="{{ user.user_profile.eatery.logo.url }}" alt="businesspage-logo">
        <div class="flex-column p-1">
            <div class="eatery-name">{{ user.user_profile.eatery.eatery_name }}</div>
            <!-- <div class="eatery-other-info"> PPP - PPP </div> -->
            <div class="eatery-other-info">{% for genre in user.user_profile.eatery.food_genres.all %}{{genre}} {% endfor %}</div>
            <div class="eatery-other-info"> {{ user.user_profile.eatery.location }} </div>
        </div>
        <!-- Edit Menu Button -->
        <div class="ml-auto p-2">
            <a href="{% url 'businessdashboard-editbusinesspage' %}"> 
                <img class="edit-icon" src="{% static 'media/edit.svg' %}" alt="edit-businesspage-icon">
            </a>
        </div>
    </div>
    <!-- Menu -->
    <div class="d-flex justify-content-center menu-title p-1"> MENU </div>
    <div class="d-flex justify-content-center all-menu-items p-1 flex-column">
        <!-- Menu Items -->
        {% for item in request.user.user_profile.eatery.menuitems.all %}
            <div class="d-flex menu-item flex-row p-1">
                <div class="d-flex p-2">
                    <img class="menu-item-image" src="{% static 'media/image.png' %}" alt="menu-item-image">
                </div>
                <a class="menu-item-name p-2" href="#">{{ item.title }}</a>
                <div class="menu-item-price ml-auto p-2"> {{ item.price }} </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
