{% extends "businessdashboard/base.html" %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col">
        <div class="section-title"> BUSINESS INFO </div>
        <br>
        <div class="d-flex align-items-center justify-content-center">
            <img class="eatery-dash-logo" src="{{ user.user_profile.eatery.logo.url }}" alt="businesspage-logo">
            <div class="flex-column p-1">
                <div class="eatery-name">{{ user.user_profile.eatery.eatery_name }}</div>
                <div class="eatery-dash-other-info"> PPP - PPP </div>
                <div class="eatery-dash-other-info">{% for genre in user.user_profile.eatery.food_genres.all %}{{genre}} {% endfor %}</div>
                <div class="eatery-dash-other-info"> {{ user.user_profile.eatery.location }} </div>
            </div>
        </div>
        <div class="update-page-link">
            <a class="update-page-link" href="{% url 'businessdashboard-businesspage' %}"> UPDATE BUSINESS PAGE </a>
        </div>
    </div>
    <div class="col">
        <div class="section-title"> CURRENT RATING:  {{ average_rating }} </div>
        <br>
    </div>
</div>
<br>

{% endblock content %}
