{% extends "sessionmanager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main">
    <h1>EATSKO: KAHIT SAAN!</h1>
    <div class="main-panel">
        <a class="back-button" href="{% url 'sessionmanager-opensession' %}">ΓåÉ</a>
        <!-- <h2>SIGN UP</h2> -->
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Choose an Eatery to manage</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


