{% extends "userdashboard/base.html" %} 
{% block content %} 
{% load static %}

<!-- Header and Search Bar -->
<div class="d-flex">

   <div class="mr-auto"> 
      <img class="page-icon" src="{% static 'media/big-search.svg' %}" alt="findeatery-icon"> 
      <span class="page-title"> FIND EATERY </span> 
   </div>

   <div class="ml-auto search-bar">
      <form method="get" class="d-flex"action="{% url 'userdashboard-findeatery' %}">
      <div class="form-group ml-auto search-bar" > 
         <input class="form-control form-rounded me-2 search-bar-input" type="search" placeholder="Search Eateries" 
         aria-label="Search" name="q" value="{{ search_term|default:"" }}" id="search"> 
      </div>
      <button class="search-button btn btn-outline-secondary form-rounded " type="submit"> 
        <img class="search-bar-icon" src="{% static 'media/search.svg' %}" alt="search-icon"> 
      </button> 
   </div>

</div>

<!-- Food Preferences -->
<div class="d-flex">
   <div class="food-pref">
      <div class="food-pref-container"> <span class="food-pref-txt"> FOOD PREFERENCES </span> </div>
   </div>
   <div class="food-filters d-flex flex-column">
      <div class="top-filters d-flex flex-row">
         <div class="food-genres flex-grow-1">
            <div class="form-group">
               <p class="food-filter-txt">
                  <label for="food_genre">Food Genre:</label>
                  <select name="food_genre" class="form-control-xs food-genres form-rounded" id="food_genre">
                     <option value="">Select a food genre</option>
                     <option value="Filipino" {% if food_genre == "Filipino" %}selected{% endif %}>Filipino</option>
                     <option value="Grilled" {% if food_genre == "Grilled"%}selected{% endif %}>Grilled</option>
                     <option value="Japanese" {% if food_genre == "Japanese" %}selected{% endif %}>Japanese</option>
                     <option value="Lutong Bahay" {% if food_genre == "Lutong Bahay" %}selected{% endif %}>Lutong Bahay</option>
                     <option value="Snack" {% if food_genre == "Snack" %}selected{% endif %}>Snack</option>
                  </select>
               </p>
            </div>
         </div>
         <div class="price-range flex-grow-1">
            <p class="food-filter-txt">
               Price Range: ₱ <input type="text" class="price-range-input" placeholder="999"> - ₱ <input type="text" class="price-range-input" placeholder="999">
            </p>
         </div>
      </div>
      <div class="bottom-filters d-flex flex-row">
         <div class="form-group">
            <p class="food-filter-txt">
               <label for="location">Location:</label>
               <input type="text" name="location" value="{{ location|default:"" }}" class="form-control-xs form-rounded location-input" id="location">
            </p>
         </div>
         <div>
            <button type="submit" class="btn btn-sm btn-secondary btn-light apply-filter"> Apply Filter </button>
         </div>
      </div>
   </div>
</div>
<hr style="margin: 0">

<!-- Eatery Page -->
<div class="d-flex flex-column">
    <div class="return-button">
        <a href="{% url 'userdashboard-findeatery' %}">
            <img class="return-button" src="{% static 'media/arrow-left.svg' %}">
        </a>
    </div>
    <div class="d-flex eatery-info-container p-1 align-items-end">
        <img class="eatery-page-logo align-self-center" src="{% static 'media/image.png' %}" alt="businesspage-logo">
        <div class="flex-column p-1">
            <div class="eatery-page-name"> Eatery Name </div>
            <div class="eatery-other-info"> PPP - PPP </div>
            <div class="eatery-other-info"> Food Genre </div>
            <div class="eatery-other-info"> Location </div>
        </div>
        <!-- Ratings Menu -->
        <div class="ml-auto p-2">
            <div class="flex-column p-1 menu-rating">
               <div class="current-rating"> Current Rating </div>
               <div class="view-ratings"> 
                 <a class="click-ratings" href="#">View Ratings</a>
               </div>
               <div class="submit-review"> 
                  <a class="click-ratings" href="#"> Submit a Review </a>
               </div>
            </div>
        </div>
    </div>
    <!-- Menu -->
    <div class="d-flex justify-content-center menu-title p-1"> MENU </div>
    <div class="d-flex justify-content-center all-menu-items p-1 flex-column">
        <!-- Menu Items -->
        {% for item in menu %}
            <div class="d-flex menu-item flex-row p-1">
                <div class="d-flex p-2">
                    <img class="menu-item-image" src="{% static 'media/image.png' %}" alt="menu-item-image">
                </div>
                <a class="menu-item-name p-2" href="#">{{ item.title }}</a>
                <div class="menu-item-price ml-auto p-2"> {{ item.price }} </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}